<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
</head>
<body>	
	@{
        Opten.Web.Infrastructure.Mail.SimpleMailer mailer = new Opten.Web.Infrastructure.Mail.SimpleMailer(
            from: "test@opten.ch",
            displayName: "test@opten.ch",
            to: "cf@opten.ch")
        {
            IsBodyHtml = true
        };

        Opten.Web.Mvc.Render.IRenderer renderer1 = new Opten.Web.Mvc.Render.RazorViewRenderer(
            viewName: "Test",
            model: new Opten.Web.Mvc.Integration.Test.Models.Member
            {
                FullName = "Calvin Frei",
                Age = 24
            }
        );

        Opten.Web.Mvc.Render.IRenderer renderer2 = new Opten.Web.Mvc.Render.RazorViewRenderer(
            viewName: "~/Views/TestMailInViewsFolder.cshtml",
            model: new
            {
                Test1 = "Test1",
                Test2 = "Test2"
            }
        );

        Opten.Web.Mvc.Render.IRenderer renderer3 = new Opten.Web.Mvc.Render.RazorViewRenderer(
            viewName: "TestMailInViewsFolder",
            model: new
            {
                Test1 = "Test1",
                Test2 = "Test2",
                Test3 = "Test3"
            }
        );

        mailer.SendFromWebConfigSettings(subject: "Test renderer1", message: renderer1.ToString());
        mailer.SendFromWebConfigSettings(subject: "Test renderer2", message: renderer2.ToString());
        mailer.SendFromWebConfigSettings(subject: "Test renderer3", message: renderer3.ToString());
	}

	@RenderBody()
</body>
</html>
